/* @see: https://bgm.tv/group/topic/337774 */
/* @use: https://www.rapidtables.com/convert/color/hex-to-rgb.html */

/*  */
.color {
    color: rgb(105, 236, 201);
}
.color {
    color: rgb(231, 193, 240);
}
.color {
    color: rgb(222, 213, 240);
}
.color {
    color: rgb(214, 48, 72);
}
.color {
    color: rgb(253, 108, 96);
}
.color {
    color: rgb(255, 164, 113);
}
.color {
    color: rgb(86, 193, 191);
}
.color {
    color: rgb(35, 107, 145);
}

/*  */
.color {
    color: #fffeff;
    background-color: #ffa7bb;
}
.color {
    color: #f7fbff;
    background-color: #5e5f8a;
}
.color {
    color: #fffdf2;
    background-color: #3f3123;
}
.color {
    color: #ab4448;
    background-color: #f7f5f4;
}
.color {
    color: #fff2e9;
    background-color: #dd1f0b;
}
.color {
    color: #fffff0;
    background-color: #d6c58e;
}
.color {
    color: #fafeff;
    background-color: #62628f;
}
.color {
    color: #dd5fd3;
    background-color: #f7f4f4;
}
.color {
    color: #fdead6;
    background-color: #f39d1f;
}
.color {
    color: #d8ffff;
    background-color: #59c4dd;
}
.color {
    color: #f7ffe3;
    background-color: #9fc23c;
}
.color {
    color: #c9993d;
    background-color: #f7fbff;
}
.color {
    color: #e17cc5;
    background-color: #43362a;
}
.color {
    color: #fff8f0;
    background-color: #fd7b74;
}
.color {
    color: #c2c065;
    background-color: #f7f4f5;
}
.color {
    color: #504e4a;
    background-color: #f6f4f4;
}
.color {
    color: #faffff;
    background-color: #2774dd;
}
.color {
    color: #f5f8fb;
    background-color: #9fd2fc;
}
.color {
    color: #4659b1;
    background-color: #f6f6f6;
}
.color {
    color: #e4e7e0;
    background-color: #3e4435;
}
.color {
    color: #fffcff;
    background-color: #821577;
}
.color {
    color: #fcfbff;
    background-color: #c99df8;
}
