/* 扇 红袖子 */
.color {
    color: rgb(215, 43, 51);
}

/*  */
.color {
    color: rgb(37, 60, 89);
}
.color {
    color: rgb(178, 201, 230);
}
.color {
    color: rgb(234, 223, 219);
}
.color {
    color: rgb(194, 183, 183);
}
.color {
    color: rgb(176, 176, 215);
}

/*  */
.color {
    color: rgb(5, 5, 5);
}
.color {
    color: rgb(152, 152, 152);
}
.color {
    color: rgb(224, 224, 224);
}
.color {
    color: rgb(251, 251, 251);
}
.color {
    color: rgb(192, 192, 192);
}

/*  */
.color {
    color: rgb(12, 7, 6);
}
.color {
    color: rgb(52, 34, 27);
}
.color {
    color: rgb(72, 48, 42);
}
.color {
    color: rgb(246, 230, 151);
}
.color {
    color: rgb(234, 235, 251);
}
.color {
    color: rgb(143, 145, 158);
}

/*  */
.color {
    color: rgb(124, 125, 18);
}
.color {
    color: rgb(18, 18, 125);
}
.color {
    color: rgb(126, 19, 121);
}
.color {
    color: rgb(18, 125, 46);
}
.color {
    color: rgb(18, 115, 125);
}
.color {
    color: rgb(124, 44, 17);
}

/*  */
.color {
    color: rgb(243, 141, 146);
}
.color {
    color: rgb(222, 88, 91);
}
.color {
    color: rgb(67, 166, 121);
}
.color {
    color: rgb(206, 177, 134);
}
.color {
    color: rgb(26, 23, 37);
}

/*  */
.color {
    color: rgb(11, 233, 39);
}
.color {
    color: rgb(12, 12, 12);
}
.color {
    color: rgb(150, 16, 6);
}

/*  */
.color {
    color: rgb(204, 81, 84);
}
.color {
    color: rgb(255, 201, 199);
}
.color {
    color: rgb(197, 131, 157);
}
.color {
    color: rgb(58, 61, 74);
}
