/* @see: https://bgm.tv/group/topic/337774 */
/* @use: https://www.rapidtables.com/convert/color/hex-to-rgb.html */
/* 阿良々木 暦 */
.color {
    color: rgb(211, 118, 153);
}
.color {
    color: #e03939;
}

/* 戦场ヶ原 ひたぎ */
.color {
    color: rgb(169, 122, 186);
}
.color {
    color: #82278e;
}

/* 羽川 翼 */
.color {
    color: #5eaeca;
}
.color {
    color: rgb(143, 224, 250);
}

/* 千石 撫子 */
.color {
    color: rgb(239, 142, 195);
}
.color {
    color: #de71ad;
}

/* 八九寺 真宵 */
.color {
    color: rgb(247, 170, 47);
}
.color {
    color: #f9ab32;
}

/* 忍野 忍 */
.color {
    color: rgb(253, 135, 157);
}
.color {
    color: #fa849b;
}

/* Fire Sisters */
.color {
    color: #cfbc61;
}

/* 阿良々木 月火 */
.color {
    color: rgb(113, 220, 213);
}

/* 阿良々木 火憐 */
.color {
    color: rgb(255, 203, 49);
}

/* 神原 駿河 */
.color {
    color: rgb(158, 210, 79);
}
.color {
    color: #90c83d;
}

/* 貝木 泥舟 */
.color {
    color: rgb(164, 164, 164);
}

/* 影縫 余弦 */
.color {
    color: rgb(150, 93, 105);
}

/* 斧乃木 余接 */
.color {
    color: rgb(128, 208, 183);
}
.color {
    color: #6acfae;
}

/* 忍野 扇 */
.color {
    color: #b6aaaa;
}

/*  */
.color {
    color: rgb(105, 236, 201);
}
.color {
    color: rgb(231, 193, 240);
}
.color {
    color: rgb(222, 213, 240);
}
.color {
    color: rgb(214, 48, 72);
}
.color {
    color: rgb(253, 108, 96);
}
.color {
    color: rgb(255, 164, 113);
}
.color {
    color: rgb(86, 193, 191);
}
.color {
    color: rgb(35, 107, 145);
}

/*  */
.color {
    color: rgb(40, 43, 60);
}

/*  */
.color {
    color: rgb(85, 2, 5);
}

/*  */
.color {
    color: #5abebc;
}

/*  */
.color {
    color: rgb(241, 198, 188);
}
.color {
    color: rgb(152, 36, 40);
}

/*  */
.color {
    color: rgb(255, 191, 156);
}
.color {
    color: rgb(61, 114, 145);
}

/*  */
.color {
    color: rgb(229, 229, 229);
}
.color {
    color: rgb(236, 143, 188);
}
.color {
    color: rgb(226, 125, 173);
}

/*  */
.color {
    color: rgb(168, 151, 37);
}
.color {
    color: rgb(80, 135, 98);
}
.color {
    color: rgb(144, 31, 34);
}

/*  */
.color {
    color: rgb(77, 68, 20);
}
.color {
    color: rgb(252, 245, 67);
}
.color {
    color: rgb(220, 14, 1);
}

/*  */
.color {
    color: rgb(255, 65, 4);
}
.color {
    color: rgb(234, 188, 96);
}
.color {
    color: rgb(242, 186, 176);
}
.color {
    color: rgb(200, 141, 232);
}
.color {
    color: rgb(165, 238, 89);
}

/*  */
.color {
    color: rgb(49, 93, 85);
}
.color {
    color: rgb(54, 100, 91);
}
.color {
    color: rgb(236, 202, 154);
}

/*  */
.color {
    color: rgb(79, 149, 181);
}
.color {
    color: rgb(109, 101, 87);
}
.color {
    color: rgb(184, 172, 141);
}
.color {
    color: rgb(5, 3, 4);
}
.color {
    color: rgb(251, 250, 251);
}

/*  */
.color {
    color: rgb(58, 111, 189);
}
.color {
    color: rgb(103, 167, 241);
}
.color {
    color: rgb(247, 249, 249);
}

/*  */
.color {
    color: rgb(166, 58, 134);
}
.color {
    color: rgb(81, 186, 252);
}
.color {
    color: rgb(40, 252, 247);
}
.color {
    color: rgb(132, 218, 77);
}
.color {
    color: rgb(255, 250, 113);
}
.color {
    color: rgb(248, 160, 60);
}
.color {
    color: rgb(243, 77, 67);
}

/*  */
.color {
    color: rgb(195, 162, 18);
}
.color {
    color: rgb(203, 172, 24);
}
.color {
    color: rgb(236, 236, 236);
}

/*  */
.color {
    color: rgb(194, 200, 217);
}
.color {
    color: rgb(199, 207, 218);
}
.color {
    color: rgb(35, 34, 35);
}
.color {
    color: rgb(14, 14, 14);
}

/* 扇 红袖子 */
.color {
    color: rgb(19, 18, 20);
}

/*  */
.color {
    color: rgb(37, 60, 89);
}
.color {
    color: rgb(178, 201, 230);
}
.color {
    color: rgb(234, 223, 219);
}
.color {
    color: rgb(194, 183, 183);
}
.color {
    color: rgb(176, 176, 215);
}

/*  */
.color {
    color: rgb(87, 160, 241);
}
.color {
    color: rgb(116, 244, 212);
}
.color {
    color: rgb(219, 110, 151);
}

/*  */
.color {
    color: rgb(29, 29, 29);
}
.color {
    color: rgb(147, 39, 41);
}
.color {
    color: rgb(45, 45, 45);
}

/*  */
.color {
    color: rgb(255, 255, 255);
}

/*  */
.color {
    color: rgb(250, 76, 171);
}
.color {
    color: rgb(240, 97, 47);
}
.color {
    color: rgb(250, 242, 81);
}

/*  */
.color {
    color: rgb(146, 41, 65);
}
.color {
    color: rgb(170, 66, 92);
}
.color {
    color: rgb(45, 45, 45);
}

/*  */
.color {
    color: rgb(186, 244, 251);
}
.color {
    color: rgb(246, 238, 193);
}
.color {
    color: rgb(248, 212, 235);
}
.color {
    color: rgb(187, 238, 215);
}

/*  */
.color {
    color: rgb(5, 5, 5);
}
.color {
    color: rgb(152, 152, 152);
}
.color {
    color: rgb(224, 224, 224);
}
.color {
    color: rgb(251, 251, 251);
}
.color {
    color: rgb(192, 192, 192);
}

/*  */
.color {
    color: rgb(12, 7, 6);
}
.color {
    color: rgb(52, 34, 27);
}
.color {
    color: rgb(72, 48, 42);
}
.color {
    color: rgb(246, 230, 151);
}
.color {
    color: rgb(234, 235, 251);
}
.color {
    color: rgb(143, 145, 158);
}

/*  */
.color {
    color: rgb(124, 125, 18);
}
.color {
    color: rgb(18, 18, 125);
}
.color {
    color: rgb(126, 19, 121);
}
.color {
    color: rgb(18, 125, 46);
}
.color {
    color: rgb(18, 115, 125);
}
.color {
    color: rgb(124, 44, 17);
}

/*  */
.color {
    color: rgb(243, 141, 146);
}
.color {
    color: rgb(222, 88, 91);
}
.color {
    color: rgb(67, 166, 121);
}
.color {
    color: rgb(206, 177, 134);
}
.color {
    color: rgb(26, 23, 37);
}

/*  */
.color {
    color: rgb(11, 233, 39);
}
.color {
    color: rgb(12, 12, 12);
}
.color {
    color: rgb(150, 16, 6);
}

/*  */
.color {
    color: rgb(204, 81, 84);
}
.color {
    color: rgb(255, 201, 199);
}
.color {
    color: rgb(197, 131, 157);
}
.color {
    color: rgb(58, 61, 74);
}

/*  */
.color {
    color: rgb(148, 4, 52);
}
.color {
    color: rgb(233, 0, 72);
}
.color {
    color: rgb(234, 254, 255);
}
.color {
    color: rgb(77, 166, 177);
}
.color {
    color: rgb(85, 188, 189);
}

/*  */
.color {
    color: rgb(251, 247, 190);
}
.color {
    color: rgb(156, 234, 182);
}
.color {
    color: rgb(244, 170, 205);
}

/*  */
.color {
    color: rgb(63, 85, 150);
}
.color {
    color: rgb(239, 191, 222);
}
.color {
    color: rgb(252, 240, 231);
}
.color {
    color: rgb(118, 69, 128);
}

/*  */
.color {
    color: rgb(201, 201, 201);
}
.color {
    color: rgb(247, 247, 247);
}
.color {
    color: rgb(248, 227, 209);
}
.color {
    color: rgb(245, 142, 147);
}
.color {
    color: rgb(202, 141, 212);
}

/*  */
.color {
    color: rgb(230, 141, 143);
}
.color {
    color: rgb(171, 70, 75);
}
.color {
    color: rgb(54, 14, 23);
}
.color {
    color: rgb(238, 130, 114);
}
.color {
    color: rgb(103, 37, 36);
}

/*  */
.color {
    color: rgb(49, 10, 12);
}
.color {
    color: rgb(183, 38, 46);
}
.color {
    color: rgb(237, 188, 202);
}
.color {
    color: rgb(70, 31, 35);
}

/*  */
.color {
    color: rgb(164, 203, 205);
}
.color {
    color: rgb(78, 106, 76);
}
.color {
    color: rgb(249, 237, 178);
}
